#carouselExampleCaptions img {
    height: 400px;
    object-fit: cover;
}

footer {
    background-color: rgb(48, 48, 48);
}

.padded {
    padding-left: 15%;
    padding-right: 15%;
}

.mygtukas {
    position: fixed;
    bottom: 0;
    right: 0;
}